{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2> Foydalanuvchi kabineti </h2>
        <div class="media text-muted pt-3">
            <img class="mr-2 rounded" style="width: 64px; height: 64px;" src="{{ user.profile.img.url }}"> 
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
              <b>Email:</b> {{ user.email }}
            </p>
          </div>
          <h3 class="mt-4"> Ma'lumotlarni o'zgartirish </h3>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_user|crispy }}
            {{ img_profile|crispy }}
            <button type="submit" class="btn btn-outline-warning">Ma'lumotlarni yangilash</button>
        </form>        
    </div>
{% endblock main_section %}

{% block aside_news_section %}
    <h3><b>5 ta o'yinlar uchun fremeworklar</b></h3>
    <img src="https://opensource.com/sites/default/files/styles/image-full-size/public/lead-images/python2-header.png?itok=tEvOVo4A" class="img-thumbnail mb-1">
    <p> I explained how to use Python to create a simple, text-based dice game. This time, I'll demonstrate how to use the Python module Pygame to create a graphical game. It will take several articles to get a game that actually does anything, but by the end of the series, you will have a better understanding of how to find and learn new Python modules and how to build an application from the ground up.
    </p>
    <a href="https://dasturchi.uz/plangs/dasturchilar-uchun-10ta-onlayn-kodlash-musobaqalari/" target="_blank">
        <button class="btn btn-warning">Batafsil</button>
    </a>
{% endblock aside_news_section %}